.main-navbar {
    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 30px 10px 20px 10px;

        .logo {
             .logo-name {
                color: black;
             }

        }

        .lists {

            ul {
                display: flex;
                align-items: center;
                gap: 40px;

                li {
                    font-size: 16px;
                    font-weight: 500;
                    list-style-type: none;

                    a {
                        color: rgb(62, 62, 62);
                        text-decoration: none;
                    }

                    a.active {
                        padding: 5px 8px;
                        color: white;
                        background-color: rgb(255, 106, 0);
                        border-radius: 5px;
                    }
                }
            }
        }

        .login-btn {

            button {
                background-color: white;
                border: none;

                a {
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;
                    color: black;
                    border-radius: 5px;
                    padding: 8px 20px;
                }

                a.active {
                    color: white;
                    background-color: rgb(255, 106, 0);
                }
            }

        }

        .menu-bar {
            display: none;
        }
    }
}

@media only screen and (min-width:120px) and (max-width:1023px) {
    .navbar-container {
        gap: 10px;

        .logo-name{
            font-size: 16px;
            
        }

        .menu-bar {
            display: block !important;
            cursor: pointer;
            margin: 0 20px;

            i {
                font-size: 26px;
            }
        }

        .lists {

            ul {
                position: absolute;
                top: 60px;
                left: -100%;
                width: 50%;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 0 10px 10px 0;
                background-color: white;
                border: 2px solid rgb(179, 179, 179);


                li {
                    margin: 5px;
                    margin-left: 50px;
                    padding: 10px;
                    font-weight: 600;

                    a {
                        color: rgb(103, 68, 4);
                    }
                }
            }

            .nav-links.active {
                left: 0;
                display: block;
                z-index: 1;
            }
        }

        .login-btn{
            button {
                a {
                    font-size: 14px !important;
                }
            }
        }
    }
}