/* AdminLogin.js */
.adminPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border: 0.01rem black solid;
    border-radius: 1rem;
    margin: 2rem 20rem;

    & h2 {
        padding: 1rem 0;
    }

    & .adminPanel_container {

        width: 30rem;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;

        & form {
            display: flex;
            flex-direction: column;

            & input {
                width: 100%;
                padding: 1rem;
                margin: 1rem;
            }

            & button {
                width: 100%;
                padding: 1rem;
                margin: 1rem;
                background-color: rgb(255, 106, 0);
                border: none;
                border-radius: 0.5rem;
                color: white;
                font-size: 1.2rem;
            }
        }
    }
}

/* Admin.js */
.admin-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .admin-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .admin-buttons {
            display: flex;
            gap: 2rem;
            padding: 2rem;

            & button {
                font-size: 1rem;
                color: black;
                padding: 1rem;
                border: none;
                border-radius: 1rem;
            }

        }
    }
}

/* AddCountry.js */
.addcountry-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .addcountry-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & form {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            & input {
                font-size: 1rem;
                padding: 1rem;
                /* width: 100%; */
            }

            & textarea {
                font-size: 1rem;
                padding: 1rem;
                margin: 1rem;
            }

            & .faq {
                display: flex;

                & input {
                    font-size: 1rem;
                    padding: 1rem;

                }

                & textarea {
                    font-size: 1rem;
                    padding: 1rem;
                    margin: 1rem;
                }
            }

            & button {
                font-size: 1rem;
                padding: 1rem;
                /* width: 100%; */
                border: none;
                background-color: rgb(255, 106, 0);
                border-radius: 1rem;
            }
        }

        & button {
            font-size: 1rem;
            padding: 1rem;
            /* width: 100%; */
            border: none;
            background-color: rgb(255, 106, 0);
            border-radius: 1rem;
        }

        & .addcountry-table {
            text-align: center;

            & h2 {
                margin: 2rem;
                font-size: 2.5rem;
            }
        }
    }
}

/* AddPackage.js */
.addpackage-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .addpackage-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & form {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            & input {
                font-size: 1rem;
                padding: 1rem;
                /* width: 100%; */
            }

            & textarea {
                font-size: 1rem;
                padding: 1rem;
                margin: 1rem;
            }

            & .faq {
                display: flex;

                & input {
                    font-size: 1rem;
                    padding: 1rem;

                }

                & textarea {
                    font-size: 1rem;
                    padding: 1rem;
                    margin: 1rem;
                }
            }

            & button {
                font-size: 1rem;
                padding: 1rem;
                /* width: 100%; */
                border: none;
                background-color: rgb(255, 106, 0);
                border-radius: 1rem;
            }
        }

        & button {
            font-size: 1rem;
            padding: 1rem;
            /* width: 100%; */
            border: none;
            background-color: rgb(255, 106, 0);
            border-radius: 1rem;
        }

        & .addpackage-table {
            text-align: center;

            & h2 {
                margin: 2rem;
                font-size: 2.5rem;
            }
        }
    }
}

/* AddPlace.js */
.addplace-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .addplace-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & form {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            & input {
                font-size: 1rem;
                padding: 1rem;
                /* width: 100%; */
            }

            & textarea {
                font-size: 1rem;
                padding: 1rem;
                margin: 1rem;
            }

            & .faq {
                display: flex;

                & input {
                    font-size: 1rem;
                    padding: 1rem;

                }

                & textarea {
                    font-size: 1rem;
                    padding: 1rem;
                    margin: 1rem;
                }
            }

            & button {
                font-size: 1rem;
                padding: 1rem;
                /* width: 100%; */
                border: none;
                background-color: rgb(255, 106, 0);
                border-radius: 1rem;
            }
        }

        & button {
            font-size: 1rem;
            padding: 1rem;
            /* width: 100%; */
            border: none;
            background-color: rgb(255, 106, 0);
            border-radius: 1rem;
        }

        & .addplace-table {
            text-align: center;

            & h2 {
                margin: 2rem;
                font-size: 2.5rem;
            }
        }
    }
}

/* AddSpot.js */
.addspot-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .addspot-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & form {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            & input {
                font-size: 1rem;
                padding: 1rem;
                /* width: 100%; */
            }

            & textarea {
                font-size: 1rem;
                padding: 1rem;
                margin: 1rem;
            }

            & .faq {
                display: flex;

                & input {
                    font-size: 1rem;
                    padding: 1rem;

                }

                & textarea {
                    font-size: 1rem;
                    padding: 1rem;
                    margin: 1rem;
                }
            }

            & button {
                font-size: 1rem;
                padding: 1rem;
                /* width: 100%; */
                border: none;
                background-color: rgb(255, 106, 0);
                border-radius: 1rem;
            }
        }

        & button {
            font-size: 1rem;
            padding: 1rem;
            /* width: 100%; */
            border: none;
            background-color: rgb(255, 106, 0);
            border-radius: 1rem;
        }

        & .addspot-table {
            text-align: center;

            & h2 {
                margin: 2rem;
                font-size: 2.5rem;
            }
        }
    }
}

.border {
    border: 1px solid #000;
    border-collapse: collapse;

    & tr {
        text-align: center;
        width: 5rem;
        font-size: 0.7rem;
        border: 0.1rem solid black;

        & th {
            width: 5rem;
            border: 0.1rem solid black;
        }

        & td {
            width: 5rem;
            border: 0.1rem solid black;

            & button {
                font-size: .7rem;
            }
        }
    }
}